body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 320px;
  background: #fff;
}

/*
a {
  color: #5E3E35;
}
a:focus, a:hover {
  color: #88584b;
} 
*/

.document img {
  /* display: block; */
  max-width: 100%;
  height: auto;  
}


#header {
  padding-top:15px;
  padding-bottom: 15px;
}

#adresone, #adrestwo {
  font-style: normal;
  text-align: right;
  padding-top:9px
}
#adresone strong, #adrestwo strong {
  font-size: 1.3em;
  font-weight: 600;
}
#adresone p, #adrestwo p {
  margin-bottom: 2px;
}

#logo {
  margin-top:15px;
}
.languages {
  text-align: right;
}

.languages a {
  padding-left:5px !important;
  padding-right:5px !important;
}
/* cart */
#minicart {
  xpadding:15px 0 0 0;
  xtext-align: right;
  color: #fff;
}
#minicart .badge {
  background: #fff;
  color: #0c0;
}
#minicart .btn {
  color: #fff;  
}

.detailedcart .cart-amt {
  width: 50px;
  display: inline;
  margin: 0 7px;
  -moz-appearance: textfield;
}
.cart-amt::-webkit-inner-spin-button { 
  display: none;
}
.required:after {
  color: #c00;
  content: " *";
  
}

/* mainmenu */

#mainmenu > ul > li > a {
  padding: 15px 10px;
}

#mainmenu .icon-bar {
  background-color: #fff;
}

#mainmenu .home {
  color: #fff;
}

#mainmenu {
    /* background-color: rgba(105, 105 , 105, 1); */ 
    background-color: #CE0000; 
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.45);   
    z-index: 99; 
}
#mainmenu .navbar {
  margin-bottom:0;
}

#mainmenu li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

#mainmenu li a:hover {
    background: #B00000;
    color: #fff;
}
#mainmenu .container-fluid {
  padding-left:0;
  padding-right:0;
}
.isStuck {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
}
.stickup {
  transition: all 0.4s ease 0s;
  z-index: 9999;
  width: 100%;  
}

/* topCarusel */
#topCarusel .item img{
  display: block;
  width: 100%;
  cursor: pointer;
  height: auto;
}

#topCarusel .item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.owl-pagination {
  width:100%;
  bottom: 20px;
  left: 0;
  position: absolute;
  text-align: center;
}

.carusel-caption {
  position: absolute;
  top:20%;
  margin: auto;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
  text-align: center;
  width: 100%;
}
.carusel-caption .toptext {
  width:90%;
  margin: 0 auto;
  letter-spacing: -1px;
}
.toptext h2 {
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  /*text-transform: uppercase;*/
}
.toptext p {
  font-size: 28px;
  line-height: 40px;
}

.toptext h1, .toptext h2, .toptext h3, .toptext h4, .toptext h5, .toptext h6 {
  color: #fff !important;
}

.toptext a {
  color: #fff;
  text-decoration: none;
}
/* end topCarusel */

/* content */
.content-header {
  margin-top:0;
}
.content {
  padding-top:10px;
}
.contentlist {
  margin-top:20px;
}

.contentlist .description {
  margin-bottom: 20px;
}

.document {
  margin-top:20px;
  margin-bottom:40px;
}

/* document-cart */
.document-cart {
  width:100%;
  margin: 0 0 15px 0;
}

.document-cart p {
  margin: 10px 0;
}

.document-cart .add-to-cart {
  margin-top:15px;
  margin-bottom:10px;
}

.document-cart .btn-add-to-cart {
  width: auto;
  margin:15px 0;
  width:100%;
}

.document-cart del {
  color: #aaa;
}

.document-cart .cart-doc-amt {
  width: 50px;
  display: inline;
  margin: 0 7px;
  -moz-appearance: textfield;
}
.document-cart::-webkit-inner-spin-button { 
  display: none;
}

.document-cart .document-code,
.document-cart .document-barcode {
  color:#aaa;
}

.document .product-image .image {
  text-align: center;
  line-height: 500px;
}

.document .product-image .image img {
  margin: 20px auto;
}

/* galery-slider */
.galery-slider {
  width:100%;
}

.galery-slider img {
  width:100%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* specific CSS */
  .document-cart {
    width:100%;
    margin: 0 0 15px 0;
  }
  
  .galery-slider {
    width:100%;
    margin: 0 0 15px 0;
  }
}

/* sidebar-item */
.sidebar-item {
  margin-bottom: 25px;
}
/* sidebar-banner */
.sidebar-banner {
}

/* sidebar-files */
.sidebar-files ul {
  margin-top:15px;
}

.sidebar-files ul li a {
  background-repeat: no-repeat;
  background-position: left center;
  padding:4px 0 4px 20px;
}

.sidebar-news .date {
  color: #888;
  margin:10px 0;
}
.sidebar-news .descr {
  color:#777;
  font-size: 13px;
}

.sidebar-news ul {
  margin:10px 0;
}

/* anonceitem */

/* left menu */
.leftmenu {
  margin-top:15px;
}


.leftmenu ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.leftmenu ul li a:before {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f105";
  padding-right: 5px;
}

.leftmenu ul li a:hover:before {
  padding-right: 7px;
  transition: 0.4s;
}

.leftmenu > ul > li > ul {
  margin-left:10px;
}

.leftmenu > ul > li > a:focus, .leftmenu > ul > li > a:hover {
  color: #E72125;
  background: none;
}

/* contentlist & galery */

.contentlist-description {
  font-size: 14px;
  color: #787878;
  margin: 15px 0;
}

.contentitem {
  border-color: #eee;
  padding:10px 12px;
}

.contentitem .image {
  overflow:hidden;
  text-align: center;
  width:200px;
  margin: 0 auto 7px auto;
  xline-height: 300px;
}

.list .image {
  text-align: left;
  width:120px;
  height:120px;
  line-height: 0;
}

.contentitem .image img {
  height: auto;
  max-height: 300px;
  max-width: 200px;
  cursor: pointer;
  display: inline;
}

.list .image img {
  max-height: 120px;
  max-width: 120px;
  display: inline;
}

.contentitem:hover {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.12);
}

.contentitem .caption {
  text-align: center;
  color: #3b3a3a;
  font-size:13px;
}

.list .caption {
  text-align: left;
}
.contentitem .item-add-to-cart {
  padding-bottom: 7px;  
}

.contentitem .itemdescr {
  font-size: 13px;
  color: #7e7e7e;
  text-align: center;
  padding-bottom: 10px;
}

.list .itemdescr {
  text-align: left;
}

.contentitem .price {
  text-align: center;
  display: block;
  padding-bottom: 5px;
  color: #B02B2C;
  font-weight: 400;
  font-size: 16px;
}

.list .price {
  text-align: left;
}

.contentitem del {
  color:#aaa;
  text-align: center;
  display: block;
  padding-bottom: 5px;
}

.contentitem .code {
  color:#aaa;
  text-align: center;
}

.list del {
  text-align: left;
}

.contentitem .btn-add-to-cart {
  width: 100% !important;
  margin-top: 7px;
}

.tocart {
  text-align: center;
  margin-top:10px;
}

#top-anonces .contentitem  {
  /*
  border: none;
  border-radius: 0;
  padding: 0;
  */
}
#top-anonces .contentitem:hover {
  box-shadow: none;
}

#top-anonces .image {
  width:100%;
  padding: 0;
  margin:0;
  overflow: hidden;  
}

#top-anonces img {
  max-width: 100%;
  max-height: 100%;
  padding:0;
  transition: all 1s ease-out 0s;  
}

#top-anonces img:hover {
  transform: scale(1.03);
}

#top-anonces .caption {
  padding:15px 20px;
  margin:0;
}

#top-anonces .h4 {
  font-size: 16px;
}

/* breadcrumb */
.my-breadcrumb {
  background: none;
  padding-left: 0;
}

/* footer */
footer {
  padding: 10px 0 20px 0;
  background: #610000;
  color: #fff;
}

footer a, footer a:hover  {
  color: #fff ;
}

#copyright {
  margin-top:20px;
  font-size: 13px;
}

#bottommenu {
  margin:20px 0;
}

#bottommenu .nav > li > a {
  padding: 10px;
  font-size: 13px;
}

#map { height: 470px; width:100%; margin:40px 0 0 0;}

.navbar-wrapper {
    margin-top:20px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}

.logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo img {
    height:50px;
}

.anoncelist .thumbnail {
    border: none;
}

.contacts {
    background: #fafafa;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.2);     
}

.owl-theme .owl-controls {
    margin-top:0;
}

.content {
    margin-top:20px;
}

.welcome-msg {
  margin:20px 0;
  padding: 32px 0 44px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  text-align: center;
}
.welcome-msg h4 {
  color: #333;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 0;
}
.welcome-msg h5 {
  color: #333;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  /* specific CSS */
  .sm-center {
    text-align: center !important;
  }
  #logo img {
    margin:0 auto;
    max-width: 400px;
    margin-bottom: 15px;
  }
  #topadres h2 {
    font-size: 24px;
  }
  #topadres {
    font-size: 90% !important;
  }
  #mainmenu {
    padding:0;
  }
  #minicart {
    xmargin:0 0 0 0;
    xpadding: 10px 0 0 0;
  }
  #adresone {
    margin-top:5px;
  }
}

.sidebar-files ul li {
  padding-bottom: 10px;
}
